@page "/"
@using ChatApp.Web.Data
@using ChatApp.Web.Services
@using ChatApp.Web.ViewModels
@using Microsoft.AspNetCore.Identity
@rendermode InteractiveServer

<PageTitle>Chat App</PageTitle>

<AuthorizeView>
     <Authorized>
          <div class="chat-app">
               <ChatList OnUserSelected="SetCurrentChatUser" Users="ChatUsers" Messages="AllMessages" />
               <div class="chat-app__main">
                    <ChatWindow CurrentUser="@CurrentUser"
                                CurrentChatUser="@CurrentChatUser"
                                IsOnline="true"
                                OnMessageActivity="OnMessageActivity" />
               </div>
               <div class="chat-app__sidebar">
                    <UserSidebar CurrentChatUserVM="@SelectedChatUser" ChatMessages="@CurrentChatMessages" />
               </div>
          </div>
     </Authorized>
     <NotAuthorized>
          <div class="login-prompt">
               <h3>You must be logged in to use the chat.</h3>
               <a href="/account/login">Go to Login</a>
          </div>
     </NotAuthorized>
</AuthorizeView>