<div class="message-input">
    <div class="message-input__container">
        <div class="message-input__actions">
            <button title="Add file" class="message-input__action">
                <span>📎</span>
            </button>
            <button title="Attach image" class="message-input__action">
                <span>🖼️</span>
            </button>
            <button title="Attach video" class="message-input__action">
                <span>🎥</span>
            </button>
            <button title="Attach PDF" class="message-input__action">
                <span>📄</span>
            </button>
            <button title="Attach GIF" class="message-input__action">
                <span>GIF</span>
            </button>
        </div>
        
        <div class="message-input__field-container">
               <textarea @bind="@MessageText"
                         @bind:event="oninput"
                         @onkeydown="OnKeyDown"
                         @onkeyup="OnKeyUp"
                         placeholder="Type a message..."
                         class="message-input__field"
                         rows="1"
                         @ref="messageInput">
               </textarea>
        </div>
        
        <div class="message-input__actions">
            <button title="Emoji" class="message-input__action">
                <span>😊</span>
            </button>
           

            <button 
                title="Send" 
                class="message-input__send"
                @onclick="SendMessage"
                disabled="@string.IsNullOrWhiteSpace(MessageText?.Trim())">
                <span>➡️</span>
            </button>
        </div>
    </div>
</div>