@rendermode InteractiveServer

<div class="user-sidebar">
     <div class="user-profile">
          <img src="/images/no-profile.png" alt="User avatar" />
          <div class="user-profile__name">John cina</div>
          <div class="user-profile__status">Last seen 10 min ago<br /></div>
     </div>
     <div class="user-media-grid">
          <AuthorizeView>
               <Authorized>
                    <form method="post" action="/account/logout">
                         <AntiforgeryToken />
                         <input type="hidden" name="returnUrl" value="" />
                         <button type="submit" class="logout-btn">Logout</button>
                    </form>
               </Authorized>
          </AuthorizeView>
     </div>
</div> 