@* UserSidebar.razor: Right sidebar with user info and search *@
<div class="user-sidebar">
    <div class="user-profile">
        <img src="/images/avatar-placeholder.png" alt="User avatar" />
        <div class="user-profile__name">Nick osoby</div>
        <div class="user-profile__status">Aktywny 10 min temu<br />ZWERYFIKOWANY</div>
    </div>
    <div class="user-search">
        <input type="text" placeholder="Szukaj" />
    </div>
    <div class="user-media-grid">
        <!-- Media grid goes here -->
    </div>
</div> 