################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChatApp/.vs/ChatApp/v17
/ChatApp/.vs
/ChatApp/ChatApp.Web/bin/Debug/net8.0
/ChatApp/ChatApp.Web/obj
