@inherits LayoutComponentBase

<div class="chat-app">
    <ChatList />
    <div class="chat-app__main">
        <ChatWindow />
    </div>
    <div class="chat-app__sidebar">
        <UserSidebar />
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
